.main-footer {
  padding: 20px;

  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 1160px;

    .section {
      display: flex;

      &.company-details {
        flex-direction: row;
        align-items: center;

        .address {
          min-width: 50%;
        }


        .map {
          &:not(.loader) {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            padding-top: 50%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
          }

          &.loader {
            width: 100%;
            height: 157px;
          }
        }
      }

      &.sitemap {
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;

        .section-col {
          margin: 0 12px 30px 0;
          min-width: calc(50% - 12px);

          li {
            margin-bottom: 6px;

            &.title {
              font-weight: bold;
            }

            a {
              color: $font-light;
            }
          }
        }

        .copyright {
          text-align: right;
          width: 100%;
        }
      }
    }
  }

  .copyright {
    text-align: right;
  }
}

@include media(">phoneL") {
  .main-footer {
    padding: 50px;
    .content {
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;

      .section {
        &.company-details {
          flex-direction: column;
          align-items: flex-start;
          margin-right: 30px;
          min-width: 200px;

          .map {
            &:not(.loader) {
              width: 180px;
              height: 180px;
              padding-top: 0;
            }

            &.loader {
              width: 180px;
              height: 180px;
            }
          }
        }

        &.sitemap {
          justify-content: flex-end;

          .section-col {
            min-width: 160px;
          }
        }
      }
    }
  }
}
