.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  transition: all .25s;
  z-index: 1000;

  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .logo {
      transition: width .25s;
      width: 100px;
    }
  }

  &.not-on-top-or-open {
    .main-content {
      background-color: $header-overlap;
      box-shadow: 0 0 12px 5px rgba(0, 0, 0, .5);
      padding: 10px;

      @supports (backdrop-filter: blur(6px)) {
        backdrop-filter: blur(6px);
      }

      @supports not (backdrop-filter: blur(6px)) {
        background-color: rgba(0, 0, 0, .75);
      }
    }

    .logo {
      width: 40px;
    }
  }
}

@include media("<=tablet") {
  .main-content {
    .menu-items {
      display: none;
    }
  }
}

@include media(">=tablet") {
  .header {
    .main-content {
      .menu-items {
        display: flex;
        justify-content: space-evenly;

        .menu-item {
          color: $menu-items;
          text-align: center;
          margin: 0 20px;
        }
      }
    }

    &.not-on-top-or-open {
      .main-content {
        padding: 20px;
      }
    }
  }
}
