.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  transition: all .25s;
  z-index: 1000;

  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: $mobile-content-width;
    max-width: $content-max-width;
    margin: 0 auto;

    .logo {
      transition: width .25s;
      width: 90px;
    }
  }

  &.not-on-top-or-open {
    .main-content {
      padding: 10px;
    }

    .wrapper {
      background-color: $header-overlap;
      box-shadow: 0 0 12px 5px rgba(0, 0, 0, .5);

      @supports (backdrop-filter: blur(6px)) {
        backdrop-filter: blur(6px);
      }

      @supports not (backdrop-filter: blur(6px)) {
        background-color: rgba(0, 0, 0, .75);
      }
    }

    .logo {
      width: 40px;
    }
  }
}

@include media("<=tablet") {
  .main-content {
    .menu-items {
      display: none;
    }
  }
}

@include media(">=tablet") {
  .header {
    .main-content {
      width: $tablet-content-width;

      .menu-items {
        display: flex;
        justify-content: space-evenly;

        .menu-item {
          color: $menu-items;
          text-align: right;
          margin: 0 0 0 30px;
        }
      }
    }

    &.not-on-top-or-open {
      .main-content {
        padding: 20px 0;
      }
    }
  }
}

@include media(">=desktop") {
  .header {
    left: 50%;
    transform: translate(-50%);

    .main-content {
      padding: 39px 0;
      width: $desktop-content-width;
      margin: 0 auto;

      .menu-items {
        .menu-item {
          margin: 0 0 0 40px;
        }
      }
    }

    &.not-on-top-or-open {
      .main-content {
        padding: 20px 0;
      }
    }
  }
}

@include media(">=desktopHD") {
  .header {
    .main-content {
      width: $desktopHD-content-width;
    }
  }
}
