/******* MEDIA QUERIES *********/
$breakpoints: (
        'phoneS': 320px,
        'phoneM': 375px,
        'phoneL': 414px,
        'tablet': 768px,
        'desktop': 1024px,
        'desktopHD': 1600px
) !default;

/******* COLORS *******/
$dark-blue: #001927;
$light-blue: #00B6DC;
$yellow: #FFCD19;
$font-dark: #000;
$font-light: #FFF;
$loader-background: #CCC;
$loader-light: #EEE;
$loader-dark: #AAA;
$button-fill: #FFF;
$button-fill-text: #000;
$button-outline: #FFF;
$button-outline-text: #FFF;
$black-overlay: rgba(0, 0, 0, .5);
$light-grey: #F5F8FA;
$blue-grey: #7B94A5;
$error-color: #FF4148;
$success-color: #69A778;

/******* COLORS DEFINITION *******/
$link: $light-blue;
$mobile-menu-items: $font-dark;
$menu-items: $font-light;
$header-overlap: $black-overlay;
$carousel-title-em: $light-blue;
$carousel-active-nav: $yellow;
$carousel-overlay: $black-overlay;
$form-background: $light-grey;
$form-text: #002841;
$input-label: $blue-grey;

/********* WIDTHS *********/
$mobile-content-width: 90%;
$tablet-content-width: 90%;
$desktop-content-width: 85%;
$desktopHD-content-width: 75%;
$content-max-width: 1200px;

// FOOTER
$footer-background: $dark-blue;
