/******* MEDIA QUERIES *********/
$breakpoints: (
        'phoneS': 320px,
        'phoneM': 375px,
        'phoneL': 414px,
        'tablet': 768px,
        'desktop': 1024px
) !default;

/******* COLORS *******/
$dark-blue: #001927;
$light-blue: #00B6DC;
$font-dark: #000;
$font-light: #FFF;
$loader-background: #CCC;
$loader-light: #EEE;
$loader-dark: #AAA;

/******* COLORS *******/
$link: $light-blue;

// FOOTER
$footer-background: $dark-blue;
